.caixa {
    background-color: white;
}

.titulo {
    color: black !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #34d6be !important; 
    color: white !important; 
}

.postagens {
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}