.box1 {
    background-color: #eceaf5; 
    height: 14vh; 
}

.box2 {
    background-color: #34d6be;
    height: 60px; 
}

.redes {
    font-size: 45px !important;
    color: black;
}

.textos {
    color: black; 
}